/* You can add global styles to this file, and also import other style files */
@import "semantic-ui-css/semantic.css";

body {
    background-color: midnightblue;
    color: whitesmoke;
}

h1 {
    color: black;
}

li {
    list-style: none;
    font-size: 1.25rem;
    color: black;
    margin-bottom: .5rem;
}
