.team-container {
    margin-bottom: 1rem;
    background-color: whitesmoke;
    border: .1rem solid lightgray;
  }

.team-container h3 {
    padding: .5rem 0 0 .5rem;
  }

  .team-container ul {
    border: .1rem solid rgba(128, 128, 128, 0.418);
    margin: 0;
    padding: .8rem;
  }